body {
  display: flex;
}

.pins-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.display-pins {
  line-height: 0; 
  -webkit-column-count: 5;
  width: 90%;
  margin: auto;
}

.pins-images {
  /* padding-left: 0px;
  padding-right: 20px; */
  padding-top: 25px;
  padding-bottom: 20px;
}

img {
  width: 230px;
  height: auto;
  border-radius: 10px;
}