/* .App {
  text-align: center;
}

body {
  margin: 120px;
}

.grid-container {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 100px 100px 100px;
  grid-gap: 20px;
  grid-auto-flow: column;
} */

/* .flex-container {
  margin-bottom: 100px;
  display: flex;
  justify-content: space-around;
}

.flex-item {
  border: 1px;
  padding: 10px;
  width: 20%;
} */

